.wp-linguist-module-word-character-count table th { text-align: right; padding-right: 10px; color: #aaa; }
.wp-linguist-module-word-character-count table td { text-align: left; font-weight: bold; color: #000; }
.wp-linguist-module-word-character-count table td span { font-size: 16px; }